h1 {
    color: white;
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    color: white;
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
}

form {
    margin-top: 10px;
}

.form_control {
    width: 100%;
    background: transparent;
    backface-visibility: transparent;
    border: 1px solid white;
    outline: none;

    border-radius: 50px;
    /*    border-bottom: 1px solid #FFFF00;*/
    color: white;
    font-size: 18px;
    margin-bottom: 16px;
    padding: 20px;

    color: white;
    font-size: 18px;
    margin-bottom: 16px;
    padding: 10px;
}

input {
    height: 45px;
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
}

form .submit {
    width: 100%;
    display: block;
    padding: 10px;
    text-align: center;
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFF00;
    border: 1px solid #FFFF00;
    background-color: black;
    border-radius: 50px;
    transition: 0.3s;
    font-size: 1rem;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 20px;
    text-decoration: none;
    background-color: transparent;
}

form .submit:hover {
    background-color: #FFFF00;
    color: black;
    transition: 0.3s;
    cursor: pointer;
}

.contact_form {
    padding: 10px 20px 50px 20px;
}



.contact_wrapper {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;

}

section {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

.section_til_billede {
    padding: 0px;
}


section {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 400px;
}

.title {
    font-size: 2em;
    padding-top: 5vh;
    padding-bottom: 5vh;
    text-align: center;
    align-content: center;

}

@media only screen and (max-width: 1050px) {
    .contact_wrapper {
        display: flex;
        max-width: 1100px;
        margin: 0 auto;
        flex-wrap: wrap;

    }
}



@media only screen and (max-width: 800px) {

    section {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 400px;
    }

    .letterform_container {
        border-radius: 5px;
        padding: 2rem;
        border: 1px solid #FFFF00;
        max-width: 900px;
        margin-bottom: 2rem;
        display: flex;

    }

    .contact_wrapper {
        display: flex;
        flex-wrap: wrap;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .title {
        font-size: 2em;
        padding-top: 5vh;
        padding-bottom: 1vh;
        text-align: center;
        align-content: center;

    }

}

/*
@media only screen and (min-width: 1000px) {
    .contact-wrapper {
        flex-wrap: wrap;
    }
}
*/
