.works_wrapper {
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
    justify-content: space-evenly;
    max-width: 1100px;
    margin: 0 auto;
}

.work_nr {
    flex: 0 1 50%;
    padding: 50px;
}

img {
    /*    position: relative;*/
}

.work_nr:nth-child(even) img {
    margin-top: 7rem;
}

.p1 {
    color: white;
    margin-top: -1rem;
    margin-bottom: 0;
}

.aarstal {
    color: white;
    margin-top: -0.2rem;
}

#detalje {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    overflow: scroll;
    visibility: hidden;
}

#detalje .luk {
    position: fixed;
    top: 20vh;
    left: 5vw;
    font-size: 2rem;
    cursor: pointer;
}

#detalje .work_nr {
    width: 100%;
    min-height: 100%;
    margin: auto;
    padding: 10rem;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.luk {
    max-width: 100px;
}

.year-menu {
    position: fixed;
    right: 2vw;
    top: 45vh;
    z-index: 1000000000;
}

.works_wrapper h2 {
    color: white;
    font-family: roc-grotesk, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}

.works_wrapper p {
    color: #FFFF00;
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
}



.year-menu a {
    color: #FFFF00;
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    list-style-type: none;
    text-decoration: none;
    font-size: 1.5rem;
}

.year-menu a:hover {
    text-decoration: underline;
}


@media only screen and (max-width: 800px) {
    .work_nr {
        flex: 0 1 100%;
        padding: 50px;
    }

    .year-menu {
        position: absolute;
        right: 45vw;
        top: 38vh;
        z-index: 0;

    }

    .works-h1 {
        padding-bottom: 20vw;
        margin-bottom: 0;
        text-align: center;
    }

    .work_nr:nth-child(even) img {
        margin-top: 3rem;
    }

    #detalje .work_nr {
        width: 100%;
        min-height: 100%;
        margin: auto;
        padding: 0rem;
        display: flex;
        flex-direction: column;
        align-content: center;
        padding-top: 15rem;
    }

    .works_wrapper {
        padding: 20px;
        margin-top: 110px;
    }
}
